#container {
    font-family: monospace;
    text-align: center;
    width: fit-content;
    max-width: 1920px;
    margin: 15px auto;
    align-items: center;
}

#info {
    width: fit-content;
    text-align: left;
}
button.newgame {
    border: none;
    border-radius: 10px;
    width: 150px;
    padding: 15px;
    font-family: monospace;
    
}

button.field {
    width: 32px;
    height: 32px;
    border: solid 1px #ccc;
    background: #ddd;
    background-color: #eee;        
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

button.emoji {
    border: solid 1px #ccc;
    background-color: #fff;        
    line-height: 0.8em;
    text-align: center;
    display: inline;
    cursor: pointer;
}

button.new {
    border: solid 1px #bbb;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #ddd;
    cursor: pointer;
}
